<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/weathericon.png') }}" style="border-radius: 50%;" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="{{ url_for('static',filename='img/weathericon.png') }}" style="width: 80px; height:50px; border-radius:60%" alt="Weather App"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Weather forecasting
                            Application</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <form method="POST" class="" role="search">

            <input class="form-control me-2" type="search" id="cityId" placeholder="Search" name="city" aria-label="Search">
            <br>
            <button class="btn btn-outline-success" type="submit" id="actionBtn" onclick="actionfun()">Search</button>
        </form>

        <center>
            {% if data %}
            <h4>Weather report of {{data.city}}</h4>
            <div class="col-md-6 col-md-offset-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">country code</th>
                            <th scope="col">coordinate</th>
                            <th scope="col">temp</th>
                            <th scope="col">pressure</th>
                            <th scope="col">humidity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{data.country_code}}</th>
                            <td>{{data.coordinate}}</td>
                            <td>{{data.temp}}</td>
                            <td>{{data.pressure}}</td>
                            <td>{{data.humidity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% else %}
            <img src="{{url_for('static',filename='img/SAVE.jpg')}}" class="img-fluid mt-2" alt=""> {% endif %}
        </center>

        <!-- bootstrapt js cdn -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>

</html>